<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="Main">
    <main role="main">
        <h1 class="display-3" id="main-title">Todos</h1>

        <div class="container-sm createForm">
            <f:render partial="CreateTaskForm"/>
        </div>

        <hr class="hr">

        <div class="container-sm scroll-task-container">
            <f:render partial="Task" />
            <f:render partial="Task"/>
            <f:render partial="Task"/>
            <f:render partial="Task"/>
        </div>

    </main>
</f:section>

</html>