<div class="container-md task-info">
        <div class="row justify-content-center">
            <div class="col-1 checkbox-container">
                <div class="checkbox">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                </div>
            </div>
            <div class="col-9">
                <div class="title">Lorem Ipsum</div>
                <div class="desc"><em>Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit</em></div>
                <div class="date">1 Jun, 2023</div>
            </div>
            <div class="col-1 icon-container editButton">
                <img class="icon" src="{f:uri.resource(path: 'EXT:todo/Resources/Public/Icons/edit.png')}" alt="edit-Button">
            </div>
            <div class="col-1 icon-container deleteButton">
                <img class="icon" src="{f:uri.resource(path: 'EXT:todo/Resources/Public/Icons/delete.png')}" alt="delete-Button">
            </div>
        </div>
</div>